// Define variables for your color scheme

// Our colors:
$white: #FFFFFF;
$light-gray: #F4F4F2;
$silver-gray: #828A95;
$salmon: #FE6C5F;
$eucalyptus: #3AF4B0;
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
