.card-order {
  background-color: $white;
  padding: 10px;
  box-shadow: 2px 4px 14px -5px rgba(51,51,51,0.35);
  margin: 7px;
  margin-top: 15px;
  position: relative;
}


.card-order:hover {
  background-color: rgb(230,230,230);
}

.avatar-dash {
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
}

.infos{
  font-size: 20px;
  margin-left: 30px;
p {
  font-weight: lighter;
  font-size: 14px;
  color: $silver-gray;
}
}

.price {
  font-size: 25px;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.validation{
  display: flex;
  color: $silver-gray;
  justify-content: flex-end;
  align-items: center;
i {
  margin: 10px;
  font-size: 30px;
  }
}

.fa-times:hover {
  color: $salmon;
}

.fa-check:hover {
  color: $eucalyptus;
}









