
.card-price-status, .validation{
  display: flex;
}

.card-order {
  text-align: center;
  margin-top: 30px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  background-color: white;
  min-height: 400px;
}

.card-booking{
  min-height: 570px;
}

.card-username {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

.card-work{
p{
  font-size: 13px;
  color: $silver-gray;
}
}

.card-price-status{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid $light-gray;
  padding-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-order:hover {
  background-color: rgb(230,230,230);
  .submit-icon{
    background-color: rgb(230,230,230);
  }
}

.avatar-dash {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 15px;
}

.validation{
  display: flex;
  color: $silver-gray;
  justify-content: space-around;
  align-items: center;
  i {
    margin: 10px;
    font-size: 30px;
    }
}

.submit-icon{
  background-color: $white;
  border: 0px;
  &:hover{
    background-color: rgb(230,230,230);
  }
}

.fa-check:hover {
  color: $eucalyptus;
}

.fa-times:hover, .fa-ban:hover{
  color: $salmon;
}

.map{
  padding-top: 15px;
}

.declined-order{
  margin: 15px 0;
  background-color: $eucalyptus;
  color: white;
  a {text-decoration: none;
  font-weight: bold;
  color: white;
  }
  &:hover {
    background-color: #2ec38c;
    font-weight: bold;
    color: white;
  }
}

.status-accepted{
  color: $eucalyptus;
}

.status-declined, .status-cancelled{
  color: $salmon;
}
