// Specific CSS for your home-page
html, body {
  height: 100%;
  margin: 0;
}

.modal.fade {
  z-index: 10000000 !important;
}

.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 200px);
  width: 100%;
  background-size: cover !important;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  font-size: 65px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
.banner h2 {
  font-size: 30px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  margin-bottom: 30px;
}

.search-form {
  padding-top: 30px;
  width: 400px;
}

.card {
  height: 275px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  text-align: center;
  margin-top: 30px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.card-content {
  position: relative;
}

.avatar_circle {
  position: absolute;
  top: 10px;
  left: 10px;
  line-height: 0;
  display: inline-block;
  border-radius: 50%;
  height: 50px;
}

.username {
  position: absolute;
  top: 10px;
  left: 70px;
a{
  color: $white !important;
  text-decoration: none;
}
}

.location {
  position: absolute;
  top: 35px;
  left: 70px;
  text-align: center;
  text-decoration: none !important;
  color: white !important;
}

.full-card {
  background-color: $salmon;
  padding-bottom: 30px;
  text-align: center;
  position: relative;
}

.bio {
  position: absolute;
  bottom: 5px;
  left: 50px;
  text-align: center;
  background-color: rgba(10,10,10,0.5);
  padding: 3px;
  color: $white;
  font-size: 13px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.wrapper {
  min-height: 100%;
  padding-bottom: 20px;
}

.content {
  padding-bottom: 100px;
}
