// Specific CSS for your home-page
html, body {
  height: 100%;
  margin: 0;
}

.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  // width: 185,5vh;
  width: 100%;
  background-size: cover !important;
  background-position: center;
  display: flex;
  justify-content: center;
}

.banner-content {
  padding-top: 140px;
  text-align: center;
  h1 {
    font-size: 90px;
  }
  h2 {
    font-size: 50px;
  }
}

.card {
  height: 275px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  text-align: center;
  margin-top: 30px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.avatar_circle {
  position: absolute;
  top: 10px;
  left: 10px;
  line-height: 0;
  display: inline-block;
  border-radius: 50%;
  height: 50px;
}

.username {
  position: absolute;
  top: 15px;
  left: 70px;
a{
  color: $white !important;
  text-decoration: none;
}
}

.location {
  position: absolute;
  top: 35px;
  left: 70px;
  text-align: center;
  text-decoration: none !important;
  color: white !important;
}

.full-card {
  background-color: $salmon;
  padding-bottom: 30px;
  text-align: center;
  position: relative;
}

.bio {
  position: absolute;
  bottom: 5px;
  left: 50px;
  text-align: center;
  background-color: rgba(10,10,10,0.5);
  padding: 3px;
  color: $white;
  font-size: 13px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.wrapper {
  min-height: 100%;
  padding-bottom: 20px;
}

.content {
  padding-bottom: 100px;
}
