

.edit-btn {
  background-image: linear-gradient(to right, #3af4b0, #51cd97, #58a77f, #57826a, #515f56);
  border-radius: 30px;
  margin: 15px;
  font-size: 10px;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  box-shadow: 1px 1px 1px $silver-gray;
  text-align: center;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.delete-btn {
  background-image: linear-gradient(to right, #fe6c5f, #f1585c, #e4435a, #d52c58, #c60957);
  border-radius: 30px;
  margin: 15px;
  font-size: 10px;
  padding: 10px 30px;
  width-max: 50px;
  color: white;
  text-decoration: none;
  box-shadow: 1px 1px 1px $silver-gray;
  text-align: center;

  &:hover {
    text-decoration: none;
    color: white;
  }
}
